@import "../../assets/styles/main.scss";
@media (max-width: 1366px) {
  .page-container {
    @include container-styles;
    .main {
      width: 916px;
      @include main;
      .setting-section {
        @include setting;
      }
      .search-box {
        @include searchBox;
      }
      .tabs-section {
        height: 176px;
        @include tab-section;
        .tabs-icons {
          display: block;
          @include tab-icon;
        }
        .tabs {
          @include tab-content;
        }
        .servicesNumber {
          display: flex;
          @include servic-num;
        }
      }
      .scrollet {
        @include _scroll;
      }
      @include all-table-content;
    }
  }
}

@media (max-height: 760px) {
  .page-container {
    @include container-styles;
    .main {
      width: 916px;
      @include main;
      .setting-section {
        @include setting;
      }
      .search-box {
        @include searchBox;
      }
      .tabs-section {
        height: 60px;
        @include tab-section;
        .tabs-icons {
          display: none;
          @include tab-icon;
        }
        .tabs {
          @include tab-content;
        }
        .servicesNumber {
          display: none;
          @include servic-num;
        }
      }
      .scrollet {
        @include _scroll;
      }
      @include all-table-content;
    }
  }
}

@media (min-width: 1366px) {
  .page-container {
    @include container-styles;
    .main {
      @include main;
      width: 1450px !important;
      .setting-section {
        @include setting;
        width: 100%;
      }
      .search-box {
        @include searchBox;
      }
      .tabs-section {
        height: 176px;
        @include tab-section;
        .tabs-icons {
          display: block;
          position: relative;
          top: 21px;
          .icon-tab {
            position: relative;
            font-size: 28px;
            color: #55768b;
            opacity: 0.4;
          }
          #all-icon {
            right: 24.6%;
          }
          #host-icon {
            right: 30%;
          }
          #domain-icon {
            right: 36.75%;
          }
          #server-icon {
            left: -42.8%;
          }
          #ssl-icon {
            left: -48%;
          }
          #cdn-icon {
            left: -52.9%;
          }
          #other-icon {
            left: -60%;
          }
        }
        .tabs {
          @include tab-content;
        }
        .servicesNumber {
          @include servic-num;
          display: flex;
          justify-content: center;
          padding-left: 85px;
        }
      }
      .scrollet {
        @include _scroll;
      }
      @include all-table-content;
    }
  }
}
